.snazzymenu {
    .controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .25rem 1rem;
        .logo {
            margin-right: 1rem;
            a {
                padding: 0;
            }
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .cta {
            display: flex;
            align-items: center;
        }
        a {
            display:flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 .5rem;
            span {
                margin-left: .25rem;
            }
        }
        svg {
            fill: currentColor;
        }
    }
}